html, body, #root {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  font-family: "DM Sans";
}

* {
  box-sizing: border-box;
  user-select: none;
}

.home-page {
  height: 100%;
  width: 100%;
}
.home-page header {
  height: 15vh;
  min-height: 50px;
  max-height: 200px;
  padding: 20px 15%;
  user-select: none;
  display: flex;
  align-items: center;
  gap: 20px;
}
.home-page header .logo {
  height: 70%;
}
@media screen and (max-width: 275px) {
  .home-page header .logo {
    height: auto;
    width: 100%;
  }
}
.home-page header .menu-page {
  display: flex;
  margin-left: auto;
  gap: 15px;
}
@media screen and (max-width: 720px) {
  .home-page header .menu-page {
    display: none;
  }
}
.home-page header .menu-page .selected::after, .home-page header .menu-page .selected::before {
  width: 50% !important;
}
.home-page header .menu-page .page {
  position: relative;
  color: #1b153e;
  cursor: pointer;
  padding: 4px;
  font-size: 17.5px;
}
.home-page header .menu-page .page::before {
  left: 50%;
  bottom: 0;
}
.home-page header .menu-page .page::after {
  right: 50%;
  bottom: 0;
}
.home-page header .menu-page .page::after, .home-page header .menu-page .page::before {
  content: "";
  position: absolute;
  height: 3px;
  width: 0;
  background-color: #e22f24;
  transition: width 0.3s ease-in-out;
}
.home-page header .menu-page .page:hover::after, .home-page header .menu-page .page:hover::before {
  width: 50%;
}
.home-page .banner {
  width: 100%;
  background-color: #1B153E;
  font-size: 50px;
  font-weight: 800;
  color: white;
  padding: 20px 15%;
  word-wrap: break-word;
  user-select: none;
}
.home-page .container {
  padding: 50px 15%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}
.home-page .container .information {
  align-self: baseline;
  user-select: none;
}
.home-page .container .information .title {
  font-size: 35px;
  font-weight: 700;
}
.home-page .container .search-bar {
  display: flex;
  gap: 10px;
  height: fit-content;
  justify-content: center;
  width: 100%;
}
@media screen and (max-width: 400px) {
  .home-page .container .search-bar {
    flex-direction: column;
  }
  .home-page .container .search-bar .rhymes-ipt {
    min-width: 50px !important;
  }
}
.home-page .container .search-bar .ipt {
  height: 100%;
  padding: 9px 19px;
  border: 1px solid #ced4da;
  appearance: none;
  outline: none;
  font-size: 30px;
  min-width: 100px;
}
.home-page .container .search-bar .btn {
  background-color: #e22f24;
  color: white;
  width: auto;
  padding: 9px 19px;
  user-select: none;
  border: none;
  cursor: pointer;
  font-family: "DM Sans";
  font-size: 25px;
}
.home-page .container .search-bar .btn:hover {
  background-color: black;
}
.home-page .container .words {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  word-wrap: break-word;
}
.home-page .container .words .classes {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 10px;
}
.home-page .container .words .classes .title {
  font-size: 25px;
  padding: 10px 0;
  border-bottom: 1px solid black;
}
.home-page .container .words .word {
  padding: 2px 5px;
  font-size: 20px;
  border: 1px solid #ced4da;
  background-color: #f8f9fa;
  word-wrap: break-word;
}
.home-page .container .words .sentence {
  display: grid;
  column-gap: 10px;
}
.home-page .container .words .sentence div {
  display: flex;
  justify-content: center;
  align-items: center;
}
.home-page .container .words .sentence div.meter {
  font-weight: 100;
  font-size: 35px;
}

/*# sourceMappingURL=style.css.map */
