html, body, #root{
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: 'DM Sans';
}

*{
    box-sizing: border-box;
}

.home-page{
    height: 100%;
    width: 100%;

    header{
        height: 15vh; 
        min-height: 50px;
        max-height: 200px; 
        padding: 20px 15%;
        user-select: none;

        display: flex;
        align-items: center;
        gap: 20px;

        .logo{
            height: 70%;

            @media screen and (max-width: 275px) {
                height: auto;
                width: 100%;
            }
        }

        .menu-page{
            display: flex;
            margin-left: auto;
            gap: 15px;
            
            @media screen and (max-width: 720px) {
                display: none;
            }
        
            .selected{
                &::after, &::before{
                    width: 50% !important;
                }
            }

            .page{
                position: relative;
                color: #1b153e;
                cursor: pointer;
                padding: 4px;
                font-size: 17.5px;

                &::before{
                    left: 50%;
                    bottom: 0;
                }

                &::after{
                    right: 50%;
                    bottom: 0;
                }

                &::after, &::before{
                    content: '';
                    position: absolute;
                    height: 3px;
                    width: 0;
                    background-color: #e22f24;
                    transition: width 0.3s ease-in-out;
                }

                

                &:hover{
                    &::after, &::before{
                        width: 50%;
                    }
                }
            }

        }

    }

    .banner{
        width: 100%;
        background-color: #1B153E;
        font-size: 50px;
        font-weight: 800;
        color: white;
        padding: 20px 15%;
        word-wrap: break-word;
        user-select: none;
    }

    .rhymes-container{
        padding: 50px 15%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 50px;

        .search-bar{

            display: flex;
            gap: 10px;
            height: fit-content;
            justify-content: center;
            width: 100%;

            @media screen and (max-width: 400px) {
                flex-direction: column;

                .rhymes-ipt{
                    min-width: 50px !important;
                    
                }
            }

            .rhymes-ipt{
                height: 100%;
                padding: 9px 19px;
                border: 1px solid #ced4da;
                appearance: none;
                outline: none;
                font-size: 30px;
                min-width: 100px;
                
            }

            .rhymes-btn{
                background-color: #e22f24;
                color: white;
                width: auto;
                padding: 9px 19px;
                user-select: none;
                border: none;
                cursor: pointer;
                font-family: 'DM Sans';
                font-size: 25px;

                &:hover{
                    background-color: black;
                }
            }
        }

        .rhyming-words{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: 10px;
            word-wrap: break-word;

            .word{
                padding: 2px 5px;
                font-size: 20px;
                border: 1px solid #ced4da;
                background-color: #f8f9fa ;
                word-wrap: break-word;
            }
        }
    }
}